body{
    
    font-family: 'Fjalla One', sans-serif;
}
h1{
    text-transform: uppercase;
    font-size: 1rem;
    padding-left: 10%;
    padding-top: 5%;
}
.navbar-brand{
    padding-left: 10%;
    font-size: 1.76rem;
    font-weight: 300;
    font-family: 'Dancing Script', cursive;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav{
    padding-right: 12%;
    font-size: 0.8rem;
    font-family: 'Dancing Script', cursive;
}
.nav-item{
    padding: 0 2%;
    font-family: 'Dancing Script', cursive;
}
.navbar-nav  li a:hover {
    color: #b33636 !important;
}
a{
    text-decoration: none;
}
